{% extends "base_account.html" %}
{% block title %}Haggis - Evaluation Create{% endblock %}

{% block content %}
<div id="evaluation">
	<h2>Create New Assignment</h2>
	<form method="post" id="submitAssignment" action="assignment_create_request.php">
		<input type="text" name='postAssignmentTitle' placeholder="Evaluation Title"><br><br>
		<textarea name="postAssignmentDescription" form ="submitAssignment" rows="5" cols="100" placeholder="Description about assignment"></textarea><br>
		Due Date: <input type="date" name='postAssignmentDate'><br>
		<input type="submit" name='submitAssignment' value="Create"></input>
	</form>
</div>
{% endblock %}