{% extends "base_account.html" %}
{% block title %}Haggis - Student Home{% endblock %}

{% block content %}

	

	<h2>{{ assignment.name }}</h2>
	<p>{{ assignment.description }}</p> 

	<table>
	<thead><tr><th>Evaluations To Do</th></tr></thead>
	{% for evaluation in evaluationsToDo %}
	<tr><td>
		<form method='post' action='evaluation_submit.php'>
		<button type="submit" value="{{evaluation.id}}" name="evaluationID">{{evaluation.title}}</button>
		</form>
	</td></tr>
	{% else %}
	<tr><td>No Evaluations</td></tr>
	{% endfor %}
</table>


	<!-- {{ evaluationsReceived }} -->

{% endblock %}