<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="../normalize.css"/>
	<link rel="stylesheet" type="text/css" href="../stylesheet.css"/>
	<link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<script>
		function dropdown(names = [], values = []){

		}

		function popup(link, windowName, variables = 0){
			//PRE: link is either a string for the html/php name of the page
			//	or an object with a href component. windowName must be a
			//	unique name.
			//POST: Brings up a popup window using the specified link and
			//	the variables as $_GET['tempVariables']
			if (!window.focus) return true;
			var href;
			if (typeof(link) == 'string'){
				href = link;
			}
			else{
				href = link.href;
			}
			if(variables != 0){
				//NOTE: This places the variable in temp
				if (Array.isArray(variables)){
					href += "?tempVariables=" + JSON.stringify(variables);
				}
				else{
					href += "?tempVariables=" + variables;
				}
			}
			window.open(href, windowName, 'width=800, height=600,scrollbars=yes');
			return false;
		}

		/*function grappher(chartName, scoreNums, labelNames, labelText, titleText){
			var ctx = document.getElementById(chartName);
			var colors = [];
			var colorCounter = 0;
			for (var i = 0; i < scoreNums.length; i++){
				if (colorCounter == 0){
					colors.push('rgb(0,128,255)','rgb(192,192,192)');
					colorCounter = 1;
				}
				else{
					colorCounter = 0;
				}
			}
			var myChart = new Chart(ctx, {
			    type: 'horizontalBar',
			    data: {
			        labels: labelNames,
			        datasets: [{
			            label: labelText,
			            data: scoreNums,
			            backgroundColor: colors
			        }]
			    },
			    options: {
			    	legend: {
			    		display: false
			    	},
			    	title: {
			    		display: true,
			    		fontSize: 36,
			    		text: titleText
			    	},
			        responsive: false,
			        responsiveAnimationDuration: 2800,
			        maintainAspectRatio: false,
			        scales: {
			        	yAxes: [{
			        		ticks: {

			        		}
			        	}],
			            xAxes: [{
			                ticks: {
			                    beginAtZero:true,
			                    max: 5
			                }
			            }]
			        }
			    }
			});
		}*/
	</script>
	<header>
		<h2 id="siteTitle"><a href="./redirect.php"><img src = "../../images/haggis.png"></a></h2>

		{% block header %}{% endblock %}
	</header>

	<div id="content">
		{% block content %}{% endblock %}
	</div>

	<div id="footer">
		<div id="copywrite"> &copy; 2016 ASAP Media Services</div>
		{% block footer %}{% endblock %}
	</div>

</body>


</html>
