<!DOCTYPE html>
<html>
<head>
	<title>Class</title>
	<link rel="stylesheet" type="text/css" href="form.css"/>
</head>
<body>
	<h1>Make a Class</h1>
	<div id="form_div">
		<form>
			Class Name<p><input type="name" placeholder="Class Name"/></p>
			Course ID<p><input type="name" placeholder="Course ID"/></p>
			Description<p><textarea placeholder="Description of assigment"></textarea></p>
			
			<input type="submit" value="Login"></input>
		</form>
	</div> <!-- end of form div-->


</body>






</html>