{% extends "base_account.html" %}
{% block title %}Haggis - Create Class{% endblock %}

{% block content %}
<h2 class="pageTitle">Add Class</h2>
	
	<div id="content">

	<div id="courseHeading">
		<h2><center><strong>{{courseName}}</strong></center></h2>
	</div>
		<div>
			<center><form method='post' action="class_new.php" >
				<div>Title of Class</div>

				<input type="hidden" name="courseIdentifier" value="{{courseID}}"></input>
				<input type="text" name="classTitle" placeholder="Title"></input><br>

				<div>Time of Class</div>
				<input type="time" name="classTime"></input><br>

				<div>Description of Class</div>
				<input type="text" name="classDesc" placeholder="Description"></input><br>
				
				<div>Location of Class</div>
				<input type="text" name="classLoc" placeholder="Location"></input><br>

				<button id="createClassButton" type="submit" name="createClassSubmit">Create Class</button>
			</form></center>
		</div>

	</div>
{% endblock %}