{% extends "base_account.html" %}
{% block title %}Create Assignment{% endblock %}
{% block header %}
<h2 id="siteTitle">Haggis</h2>
<a href="login.php" class="">
	<input type="button" value="Login">
</a>
{% endblock %}


{% block content %}
<h1>Create Assignment</h1>
<div class='error'>{{message}}</div>
			<form method='post' name='assignment form'>
				<p><input type="text" name='postAssignmentName' placeholder="Assignment Name" value="{{postAssignmentName}}"/>
				<input type="text" name='postDueDate' placeholder="Due Date" value="{{postDueDate}}"/></p>
				<p><input type="text" name='postDescription' placeholder="Description" value="{{postDescription}}"/></p>
		
				<input type="submit" name='submitAssignment' value="Create"></input>
			</form>

{% endblock %}




