<!DOCTYPE html>
<html>
<head>
	<title>Create Assignment</title>
	<link rel="stylesheet" type="text/css" href="../views/normalize.css"/>
	<link rel="stylesheet" type="text/css" href="../views/stylesheet.css"/>
	<link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
</head>
<body>

	<header>
		<h2 id="siteTitle">Haggis</h2>
		<a href="create_evaluation.php" class="register">
			<input type="button" value="Logout">
		</a>
	</header>
	<h1>Create an Assignment</h1>
	<div id="form_div">
		<form method='post' name='create evaluation form'>
			<p><input type="text" name='postAssignmentName' placeholder="Assignment Name"/>
			<input type="text" name='postDueDate' placeholder="Due Date"/></p>
			<p><input type="text" id="description" name='postCriteriaDescription' placeholder="Description"/><p>
			<input type="submit" name='submitevaluation' value="Create"></input>
		</form>
	</div> <!-- end of form div-->
	
</body>

</html>