{% extends "base_account.html" %}
{% block title %}Haggis - Instructor Home{% endblock %}

{% block content %}

<h2 class="pageTitle">Classes</h2><br>

<div id ="instructorClassPage"><h2>{{className}}</h2></div>
<center><table id = "instructorClassPageAssign" class="table">
	<thead><tr><th class="table">Assignments</tr></thead>

	<tr><td>
		<form method='get' action='assignment_create.php'>
		<button type="submit" value="{{classID}}" name="classID">Add Assignment</button>
		</form>
	</td></tr>

	{% for assignment in assignments %}
		<tr><td>
		<form method='get' id="instructorClassTables" action='instructor_assignment.php'>
		<button type="submit" value="{{assignment.id}}" name="assignmentID">{{assignment.name}}</button>
		</form>
		</tr></td>

		<tr><td>
			Due Date: {{assignment.dueDate}}
		</td></tr>

	{% endfor %}

</table>

<table id= "instructorClasspPage" class="table">
	<thead><tr><th class="table">Evaluations</tr></thead>

	{% for eval in evaluations %}

		<tr><td>{{eval.name}}</td></tr>

		{% for e in eval.assigned %}
			<tr><td>
			
				<form method='get' id ="instructorClassTablesEval" action='evaluation_view.php'>
				<button type="submit" value="{{e.id}}" name="evaluationID">
					{{e.target}}
				</button>
				</form>
			
			</td></tr>
		{% endfor %}

	{% endfor %}

</table>

<table id="instructorClassStudent" class="table">
	<thead><tr><th class="table">Students
				<th class="table">Results
			</tr>
	</thead>

	{% for student in students %}

		<tr>
			<td>{{student.name}}</td>
			<td>
				<form method='get' action='cumulative_results.php'>
				<input type='hidden' value="{{student.id}}" name="studentID">
				<button type="submit">
					>>
				</button>
				</form>
			</td>
		</tr>

	{% endfor %}

</table><p></center>

{% endblock %}
