{% extends "base_account.html" %}
{% block title %}
Haggis - Instructor Home
{% endblock %}

{% block content %}
<h2 class="pageTitle">Classes</h2><br>

<!--For each class, produces a button that takes you to that class' specific page-->
{% for class in classes %}
<form id="myform" method='post' action='instructor_class.php'>
	<button type="submit" id="classButton" value={{courseID}}>{{class.className}}</button>
</form>
{% endfor %}

<!--Creates a button that allows you to add a new class-->
<form method = 'post' action='class_new.php'>
<button type="submit" id="instructorHomeButton" value="{{courseID}}" name="courseID">Add Class</button>
</form>
{% endblock %}