{% extends "base_account.html" %}
{% block title %}Haggis - Assignment{% endblock %}

{% block content %}
	
	<h2>{{ assignmentName }}</h2>
	<p>{{ assignmentDescription }}</p> 
	
	<table class="evaluations">

		<thead><tr><th align="left">Evaluations</th></tr></thead>
		<tbody>
				{% if evalsTotal > 0 or groupEvaluationID != -1 or peerEvaluationID != -1 or individualEvaluationID != -1 %}
			   <tr><td>Evaluations Complete: {{ evalsTotal }}</td></tr>
			   	{% endif %}
			   	{% if groupEvaluationID == -1 or peerEvaluationID == -1 or individualEvaluationID == -1 %}
			   <td>
			   <form method="get" action="evaluation_create.php">
			   <button type="submit" name="postCreateMasterEval">Create Evaluation</button>
			   </form>
			   </td>
			   {% endif %}
			   <tr align="right">
			   	<td>
			   
			    {% if groupEvaluationID > 0 %}
			    <form method="get" action="evaluation_view.php">
		   		<button type="submit" value="{{groupEvaluationID}}" name="evaluationID">View Group Criteria</button>		
		   		</form>
		   		{% endif %}

		   		{% if peerEvaluationID > 0 %}
			    <form method="get" action="evaluation_view.php">
		   		<button type="submit" value="{{peerEvaluationID}}" name="evaluationID">View Peer Criteria</button>		
		   		</form>
		   		{% endif %}

		   		{% if individualEvaluationID > 0 %}
			    <form method="get" action="evaluation_view.php">
		   		<button type="submit" value="{{individualEvaluationID}}" name="evaluationID">View Individual Criteria</button>		
		   		</form>
		   		{% endif %}

		   		<!--button that transports you to results page for assignment-->
			    {% if evalsTotal > 0 %}
		   		<form method="get" action="overall_results.php">
		   		<button type="submit" value="{{assignmentID}}" name="postViewResults">View Results</button>
		   		</form>
		   		{% endif %}

			   	</td>
			   </tr>
			   </form>
		</tbody>
	</table>


	<table>
		<thead><tr><th>Roster</tr></thead>
		<tbody>
		{% for student in students %}

			<tr><td>{{student.name}}</td></tr>

		{% endfor %}
	</tbody>

	</table>


<div id="groups">
		<form method='get' action='create_group.php'>
			<input type='hidden' value='{{assignmentID}}' name='assignmentID'>
			Create New Group with Number: 
			<input type='number' min='1' name='groupNumber'>
			<button type="submit">Add</button>
		</form>
{% for group in groups %}
	<table class="group">
		<thead>
			<tr>
				<th class="table">Group {{group.number}}</th>
			</tr>
		</thead>

		{% for name in group.names %}

		<tr>
			<td>{{name.name}}
			
				<form method='post' class="inline_button" action='remove_user_group.php'>
					<input type="hidden" value="{{group.groupID}}" name="groupID">
					<input type="hidden" value="{{name.id}}" name="studentID">
					<button  type="submit">Remove</button>
				</form>
			</td>
		</tr>

		{% endfor %}
		<tr><td>
			<form method='post' action='add_user_group.php'>
				<select name="user_target">
					<option value = ""></option>
					{% for student in group.students %}
					<option value="{{student.id}}">{{student.name}}</option>
					{% endfor %}
				</select>
				<input type="hidden" value="{{group.groupID}}" name="groupID">
				<button class="inline_button" type="submit">Add Member</button>
			</form>
		</td></tr>

		<tr><td>
			<form method='post' action='remove_group.php'>
				<input type="hidden" value="{{group.groupID}}" name="groupID">
				<button class="inline_button" type="submit">Remove group</button>
			</form>
		</td></tr>
	</table>
{% endfor %}

</div>

	<form method="post" action="assignment_remove.php">
   		<button type="submit" value="{{ assignmentID }}" name="assignmentID">Remove assignment from class</button>

	</form>
{% endblock %}