{% extends "base.html" %}
{% block title %}Haggis - Sign In{% endblock %}
{% block header %}
<h2 id="siteTitle">Haggis</h2>
<a href="register.php" class="register">
	<input type="button" value="Register">
</a>
{% endblock %}

{% block content %}
<div id="loginContainer">
	<div class='message'>{{ message }}</div>
	<h2>Login</h2>
	<form method='POST' name='login form'>
		<input type="text" name='postName' placeholder="Email"/>
		<input type="password" name='postPassword' placeholder="Password"/>
		<a href="passwordreset.php">forgot your password?</a>
		<input type="submit" name='submitLogin' value="Login"></input>
	</form>

	<p>test</p>
</div>
{% endblock %}
