<!DOCTYPE html>
<html>
<head>
	<title>Haggis - Sign In</title>
	<link rel="stylesheet" type="text/css" href="stylesheet.css"/>
</head>
<body>
	<div id="container">
		<div id="headder">
			<button type="button">Register</button>
		</div><!-- end of headder -->

		<div id="login">
				<h2>Login</h2>
				<form method='POST' name='login form'>
					<input type="text" name='postName' placeholder="Username"/>
					<p><input type="password" name='postPassword' placeholder="Password"/></p>
					<input type="submit" name='submitLogin' value="Login"></input>
				</form>
				<p><a href="passwordreset.php">forgot your password?</a></p>
		</div> <!-- end of form div-->

		<div id="footer">


		</div><!-- end of footer -->
	</div><!-- end of container div --> 


</body>






</html>