<!DOCTYPE html>
<html>
<head>
	<title>Sign In</title>
	<link rel="stylesheet" type="text/css" href="form.css"/>
</head>
<body>
	<h1>Login</h1>
	<div id="form_div">
		<form method='post' name='login form'>
			Username<p><input type="text" name='postName' placeholder="Username"/></p>
			Password<p><input type="password" name='postPassword' placeholder="Password"/></p>
			<input type="submit" name='submitLogin' value="Login"></input>
		</form>
	</div> <!-- end of form div-->


</body>






</html>