{% extends "base.html" %}
{% block title %}Haggis - Password Reset{% endblock %}
{% block header %}
	<title>Password Reset</title>
{% endblock %}
{% block content %}
<h1>Password Reset</h1>

<p>If you have forgotten your password enter your email. You will have instructions emailed to you.</p>
<form method='POST' name='password_reset'>
		<input type="text" name='postEmail' placeholder="Registered Email"/>
		<input type="submit" name='submitPasswordReset' value="Submit"></input>
</form>
{% endblock %}
