<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
	<h1>Register</h1>
	<div id="form_div">
		<form method='post' name='register form'>
			<p><input type="text" name='postFirstName' placeholder="First Name"/></p>
			<p><input type="text" name='postMiddle' placeholder="Middle Initial"/></p>
			<p><input type="text" name='postLastName' placeholder="Last Name"/></p>
			<p><input type="text" name='postEmail' placeholder="Email"/></p>
			<p><input type="password" name='postPassword1' placeholder="Password"/></p>
			<p><input type="password" name='postPassword2' placeholder="Re-enter Password"/></p>
			<input type="submit" name='submitRegister' value="Sign Up"></input>
		</form>
	</div> <!-- end of form div-->
	
</body>

</html>