<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="../views/stylesheet.css"/>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<header>
				<h2 id="siteTitle">Haggis</h2>
			</header>
		</div><!-- end of headder -->
		<div id="form_div">
			<h1>Register</h1>
			<form method='post' name='register form'>
				<p><input type="text" name='postFirstName' placeholder="First Name"/></p>
				<p><input type="text" name='postMiddle' placeholder="Middle Initial"/></p>
				<p><input type="text" name='postLastName' placeholder="Last Name"/></p>
				<p><input type="text" name='postEmail' placeholder="Email"/></p>
				<p><input type="password" name='postPassword1' placeholder="Password"/></p>
				<p><input type="password" name='postPassword2' placeholder="Re-enter Password"/></p>
				<input type="submit" name='submitRegister' value="Sign Up"></input>
			</form>
		</div> <!-- end of form div-->
	</div><!-- end of wrapper -->
</body>

</html>