{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block header %}
<h2 id="siteTitle">Haggis</h2>
<a href="register.php" class="register">
	<input type="button" value="Register">
</a>
{% endblock %}

{% block content %}
<h1>Register</h1>
<div class='error'>{{message}}</div>
			<form method='post' name='register form'>
				<p><input type="text" name='postFirstName' placeholder="First Name" value="{{postFirstName}}"/></p>
				<p><input type="text" name='postMiddle' placeholder="Middle Initial" value="{{postMiddle}}"/></p>
				<p><input type="text" name='postLastName' placeholder="Last Name" value="{{postLastName}}"/></p>
				<p><input type="text" name='postEmail' placeholder="Email" value="{{postEmail}}"/></p>
				<p><input type="password" name='postPassword1' placeholder="Password"/></p>
				<p><input type="password" name='postPassword2' placeholder="Re-enter Password"/></p>
                <p><input type="text" name='classId' placeholder="Class ID" value="{{postClassId}}"/></p>
				<input type="submit" name='submitRegister' value="Sign Up"></input>
			</form>

{% endblock %}
