{% extends "base_account.html" %}
{% block title %}Haggis - Student Home{% endblock %}

{% block content %}
<h2 class="pageTitle">Student Home</h2><br>

<table>
	<thead><tr><th>Assignments</tr></thead>
	{% for assignment in assignments %}
	<tr><td>
		<form method='post' action='student_create_evaluation.php'>
		<button type="submit" value="{{assignment.id}}" name="assignmentID">{{assignment.title}}</button>
		Due: {{assignment.due}}
		</form>
	</td></tr>
    {{ user.name }}
	{% else %}
	<tr><td>No Assignments</td></tr>
	{% endfor %}
</table>

<!-- <table>
	<thead><tr><th>Evaluations To Do</th></tr></thead>
	{% for evaluation in evaluationsToDo %}
	<tr><td>
		<form method='post' action='student_create_evaluation.php'>
		<button type="submit" value="{{evaluation.id}}" name="evaluationID">{{evaluation.title}}</button>
		</form>
	</td></tr>
	{% else %}
	<tr><td>No Evaluations</td></tr>
	{% endfor %}
</table> -->

<table>
	<thead><tr><th>Recently Received</tr></thead>
	{% for evaluation in evaluationsReceived %}
	<tr><td>
		<form method='post' action='evaluation_view.php'>
		<button type="submit" value="{{evaluation.id}}" name="evaluationID">{{evaluation.title}}</button>
		</form>
	</td></tr>
    {{ user.name }}
	{% else %}
	<tr><td>No Evaluations</td></tr>
	{% endfor %}
</table>

<table>
	<thead>
		<tr>
			<th>View Received Evaluation Results</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<form method='post' action='cumulative_results.php'>
					<button type="submit">Cumulative Results</button>
				</form>
			</td>
		</tr>
</tbody>
</table>


{% endblock %}
