{% extends "base_account.html" %}
{% block title %}Haggis - Student Home{% endblock %}

{% block content %}

<div class="content"><h2 class="pageTitle">Student Home</h2><br></span></div>


<div class="content">


<table class="table">
	<thead><tr><th class="table">Assignments</tr></thead>
	{% for assignment in assignments %}
	<tr><td>
		<form method='post' action='assignment_controller.php'>
		<button type="submit" value="{{assignment.id}}" name="assignmentID">{{assignment.title}}</button>
		Due: {{assignment.due}}
		</form>
	</td></tr>
    {{ user.name }}
	{% else %}
	<tr><td>No Assignments</td></tr>
	{% endfor %}
</table>



<table class="table">
	<thead><tr><th class="table">Evaluations To Do</th></tr></thead>
	{% for evaluation in evaluationsToDo %}
	<tr><td>
		<form method='post' action='evaluation_submit.php'>
		<button type="submit" value="{{evaluation.id}}" name="evaluationID">{{evaluation.title}}</button>
		</form>
	</td></tr>
	{% else %}
	<tr><td>No Evaluations</td></tr>
	{% endfor %}
</table>

<table class="table">
	<thead><tr><th class="table">Evaluations Received</tr></thead>
	{% for evaluation in evaluationsReceived %}
	<tr><td>
		<form method='post' action='evaluation_view.php'>
		<button type="submit" value="{{evaluation.id}}" name="evaluationID">{{evaluation.title}}</button>
		</form>
	</td></tr>
    {{ user.name }}
	{% else %}
	<tr><td>No Evaluations</td></tr>
	{% endfor %}
</table>
</div>
{% endblock %}
