/*HEADER--------------------------------------------*/

header{
	background: #216499;
	border-bottom: 3px solid black;
	height: 50px;
	vertical-align: middle;
	min-width: 300px;
	color: white;
}

#siteTitle{
	display: inline-block;
	margin: 10px 0px 10px 5px;
	
}

#welcome{
	display: inline-block;
	float: right;
	margin: 15px 10px 10px 5px;
}

header .register, header .logout{
	display: inline-block;
	float: right;
	margin: 10px 5px 10px 0px;
	
}

.register input, .logout input{
	border-color: black;
	background: white;
	font-style: italic;
}




/*BODY--------------------------------------------*/

body{
	font-family: 'Lora', serif;
}

#content{
	margin: 5px;
}

/*FOOTER--------------------------------------------*/

#footer{
	width: 100%;
	display: block;	
}

#footer #copywrite{
	width: 215px;
	margin: 0px auto;
}

/*LOGIN--------------------------------------------*/


input[name="submitLogin"]{
	background: #216499;
	color: white;
	border-color: black;
	border-width: 2px;
	font-size: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 15px;

}

#loginContainer{
	width: 200px;
	margin: 0 auto;
}

#loginContainer h2{
	color: #216499;
	font-style: italic;
}

#loginContainer input{
	margin-bottom: 5px;
}

/*STUDENT HOME--------------------------------------------*/
table{
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-right: 5px;
}
table th{
	background: #216499;
	padding: 5px;
	font-size: 18px;
}


/*CREATE ASSIGNMENT---------------------------------------*/

#CreateAssignDescription{
	width: 348px;
	height: 90px;
	margin-left: 5px;
}
#CreateAssignmentBody{
	margin-left: 5px;
}
#CreateAssignmentTitle{
	margin-left: 50px;
}
#CreateAssignButton{
	margin-left: 292px
}

/*CREATE EVALUATION---------------------------------------*/

#CreateEvalDescription{
	width: 348px;
	height: 90px;
	margin-left: 5px;
}
#CreateEvalName{
	width: 348px;
	
	margin-left: 5px;
}
#CreateEvalBody{
	margin-left: 5px;
}
#CreateEvalTitle{
	margin-left: 50px;
}
#CreateEvalButton{
	margin-left: 113px
}
#CreateEvalCriteriaButton{
	margin-left: 2px
}

